<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/responsive.css">
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="students.json"></script>
<!--     <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

</head>

<body ng-app="myMolule" ng-controller="myCtrl">


<div class="timeout">{{var2}}</div>



    <table class="table">

        <thead>
            <tr>
                <th>Name</th>
                <th>DEPT.</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="student in students">
                <td>{{student.name}}</td>
                <td>{{student.sub}}</td>

            </tr>
        </tbody>
    </table>


    <script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="assets/js/plugins.js"></script>

    <script src="assets/js/bootstrap.min.js"></script>

    <script src="assets/js/jquery.slicknav.min.js"></script>
    <!--        <script src="assets/js/jquery.fitvids.js"></script>-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l;
            b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
            b[l].l = +new Date;
            e = o.createElement(i);
            r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>
